$typeColor: #98978b;

.resource {
  h3 {
    margin-top: 30px;
  }

  .methods-short, .properties-short {
    dt {
      font-weight: normal;
      color: $typeColor;
    }
    dd {
      font-weight: bold;
    }
  }

  .method, .property {
    h3 {
      background-color: #f8f5f0;
      padding: 5px;
    }

    .parameter, .returns, .throws {
      margin-left: 15px;

      .types {
        color: $typeColor;
      }

      .description {
        margin-left: 10px;
      }
    }
  }
}
