$typeColor: #98978b;

.api {
  .resource {
    .header {
      margin-bottom: 10px;
    }

    .resource-service {
      .description-summary {
        margin-top: 10px;

        p:first-child, div:first-child {
          float: left;
        }

        .more {
          margin-left: 5px;
        }
      }

      .methods-summary, .properties-summary {
        dt {
          font-weight: normal;
          color: $typeColor;
        }
        dd {
          font-weight: bold;
        }
      }
    }

    .method, .property {
      h3 {
        border: 1px solid #dfd7ca;
        background-color: #f8f5f0;
        padding: 5px;
      }

      .parameter, .returns, .throws {
        margin-left: 15px;

        .types {
          color: $typeColor;
        }

        .description {
          margin-left: 10px;
        }
      }
    }
    .example {
      .description {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: calc(100% - 60px);
      }
      .link {
        margin-top: 7px;
      }
    }
  }

  .module, .type {
    .description-summary {
      p:first-child, div:first-child {
        margin: 0;
      }
    }
  }
}
