.side-bar {
  ul {
    font-weight: 800;

    span {
      font-size: 15px;
    }
  }
  ul ul {
    font-weight: 600;
    margin-left: 15px;

    span {
      font-size: 14px;
    }
  }

  ul ul ul {
    font-weight: normal;
    margin-left: 25px;
  }

  .glyphicon {
    padding-right: 10px;
    padding-top: 2px;
    cursor: pointer;

    &:before {
      content: "\e114";
    }

    &.collapsed:before {
      content: "\e080";
    }
  }
}